.badge {
  border-radius: 8px;
  font-size: 12px;
  line-height: 24px;
  padding: 4px 10px;

  &.primary {
    background: theme('colors.cosmon.main.primary');
    color: white;
  }

  &.secondary {
    background: rgba(65, 54, 115, 0.2);
    color: theme('colors.cosmon.main.secondary');
  }
}
