.title {
  font-family: 'Poppins';
  font-size: 25px;
  color: white;
  font-weight: 600;
  line-height: 18px;
}

.text {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 18x;
  font-weight: 400;
  color: white;
}
