.boostSlotContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

  @media (max-width: 640px) {
    display: none;
  }
}

.boostSlot {
  display: flex;
  width: 38px;
  height: 35px;
  background: rgba(32, 22, 79, 0.3);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;

  &:hover {
    .effectTime {
      display: flex !important;
    }
  }
}

.plus {
  font-weight: 600;
  font-size: 14px;
  color: #8a8a8a;
}

.fillBoostSlot {
  cursor: auto;
}

.emptyBoostSlot {
  &:hover {
    .plus {
      color: white;
    }
  }
}

.potionContainer {
  position: relative;
}

.effectTime {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  display: none;
  cursor: default;
  background: linear-gradient(180deg, #4b0978 0%, #74107f 100%);
  background-size: 200% 200%;
  color: #f8c11f;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.potionImg {
  height: 26px;
  width: auto;
}
