$primaryBarColor: #ffb901;
$secondaryBarColor: #140653;

.zapContainer {
  border: 1px solid $primaryBarColor;
  border-radius: 3px;
  background: #1d2c49;

  .zapSvg {
    & > * {
      fill: $primaryBarColor;
    }
  }
}

.fightPointsContainer {
  background-color: $secondaryBarColor;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.fightPointContainer {
  background-image: linear-gradient($primaryBarColor, #ffd856);

  &.fightPointContainerEmpty {
    background: transparent;
  }

  &:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
