.container {
  width: 495px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid theme('colors.cosmon.main.primary');
  background: rgba(159, 164, 221, 0.06);
  padding: 50px;
  color: white;

  @media (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 25px;
  }
}

.chart {
  display: flex;
  flex-direction: row;
}

.doughnutContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.legendContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  & > div {
    width: 100%;
  }
}

.doughnut {
  width: 134px;
  height: 134px;
  margin-right: 60px;

  @media (max-width: 1024px) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.legendLabel {
  font-weight: 400;
  font-size: 16px;
  margin-left: 9px;
}

.value {
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.victoryIcon {
  background-color: #5a40e1;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid white;
}
.drawIcon {
  background-color: #61ddaa;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid white;
}

.defeatIcon {
  background-color: #ebb418;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid white;
}

.victoryLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.defeatLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dailyLimit {
  margin-top: 24px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}
