.tooltipContainer {
  box-sizing: border-box;
  padding: 4px 12px !important;
  border-radius: 8px !important;
  background-color: #413673 !important;
  background-clip: padding-box !important;
  border: solid 0.5px #a996ff !important;
  z-index: 1001 !important;
  opacity: 1 !important;

  & > * {
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }

  &:before,
  &:after {
    content: none !important;
  }
}
